/*************************************************************
* Christopher Sanchez; 2015
*************************************************************/

/* Syntax for css */
/* selector { property:value; property: value;} */

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #808080; /* GRAY */
    color: black;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #white;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: normal;
}

h2{
  font-family: "Courier New", Courier, monospace;
  color: #FFFF;
  font-size: 30px;
  font-weight: normal;
}


/* This creates a centered horizontal navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}


 li {
  display: inline

}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #A9A9A9;
}


/* the strategy here is to have a default "unordered list" class with
* common attributes, then anything else you want to add, make a class
* that inherits from the default ul
*/
ul.backgroundColor-class {
background-color: #444;
}

ul.bottomPage {
  position: fixed;
  top: 90vh; z-index:99;
  padding: 0 0 10px;
  width: 100%;
  box-sizing: border-box;
}



/* for social media buttons */
a.fa {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border:2px solid #ddd; /* add border to the buttons */
  box-shadow: 0 3px 3px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius:27px;
  -webkit-border-radius:27px;
}

a.fa:hover {
  opacity: 0.7;
}

a.fa-youtube {
  background: #bb0000;
  color: white;
}

a.fa-instagram {
background: #125688;
color: white;
}

a.fa-twitter {
background: #55ACEE;
color: white;
}


/*This is for the picture of me */
/* Note you need the img tag to access the class */
img.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
